:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;
}

.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.outfit-400 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.outfit-700 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color: var(--slate-300);
}

.text-preset-1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0;
    margin: 0;
    color: var(--slate-900);
}

.text-preset-2 {
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
    margin: 0;
    color: var(--slate-500);
    font-family: Outfit, sans-serif;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card {
    background-color: var(--white);
    border-radius: 20px;
    padding: var(--spacing-200) var(--spacing-200) var(--spacing-500) var(--spacing-200);
    width: fit-content;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0477);
}

.qr-code {
    width: 288px;
    height: 288px;
    border-radius: 10px;
    margin-bottom: var(--spacing-300);
}

.text-container {
    width: 288px;
    text-align: center;
    padding: 0 var(--spacing-200);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.attribution {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: var(--slate-500);
}

.attribution>a {
    color: var(--slate-900);
}
